.header-container  .row {
    width: 1175px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-bottom: 83px;  
}

.header-row {
    width: 1175px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-top: 35px;
    padding-bottom: 40px;  
}

@media (max-width: 700px) {
    .header-container .row{
        flex-direction: column-reverse;
        width: 335px;
        padding-bottom: 0;
    }

    body > .header-container > .header-row {
        flex-direction: row;
        width: 335px;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .nav {
        display: none;
    }
    
    .header-container {
        width: 100%;
    }

    .row > .main-img {
        height: 196.61285400390625px;
        width: 335px;
        object-position: left;
    }

    .header-row > .logo {
        height: 38px;
        width: 129px;
    }

    .row > .left-column {
        width: 335px;
    }

    .before-text {
        margin-top: 30px;
    }

    .partners-images {
        flex-direction: column;
    }

    .partners-images > .images {
    height: 38px;
    width: 196.38079833984375px;
    left: 727.7823486328125px;
    top: 6px;
    border-radius: 0px;
    }

    .btn {
        margin-bottom: 40px;
    }
}