.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 586px;
}

.container  .row {
    width: 1175px;
    background-color: aqua;
    display: flex;
    margin-top: 35.84px;
    justify-content: space-between;
    align-items: center;    
}

.logo-text {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 18px;
}

.before-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: left;
    text-transform: uppercase;
}