.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 586px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.hero-container  .row {
    width: 1175px;
    display: flex;
    margin-top: 35.84px;
    justify-content: space-between;
    align-items: center;    
}

.logo-text {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 18px;
}

.before-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.partners {
    margin-top: 60px;
}

.partners-images {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 68px;
}

.btn-center {
    text-align: center;
    margin-top: 55px;
}

.main-btns {    
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    border: 0.1em solid #212529;
    background-color: #212529;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 29.5px;
    padding-right: 29.5px;
}